body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center; /* 가로 중앙 정렬 */
    background-color: black;

}

header {
    background-color: black;
    color: black;
    text-align: center;
    padding: 20px 0;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

main {
    padding: 20px;
}

#map-container {
    background-color: black; /* 배경색을 #E4EBF5로 지정합니다. */
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    height: 500px;
}

#map {
    width: 100%;
    max-width: 800px;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}


footer {
    background-color: #6BA5FF;
    color: white;
    text-align: center;
    padding: 10px 0;
    border-radius: 0 0 10px 10px;
}
header h1 {
    margin: 0; /* 기존에 있는 h1 요소의 기본 마진을 제거합니다. */
    color: #6BA5FF; /* 글씨색을 변경합니다. */
    background-color: black;
    font-size: 30px; /* 원하는 크기로 수정합니다. */
}
#container {
    display: flex;
    justify-content: center;
}
#hospitals li {
    font-size: 20px; /* 원하는 크기로 설정합니다. */
    margin-bottom: 10px; /* 각 항목 간격을 조절합니다. */
    cursor: pointer; /* 마우스를 가져다 대면 포인터가 변경됩니다. */
    color: #f0f0f0;
}
#hospital-list h2 {
    font-size: 26px; /* 원하는 크기로 설정합니다. */
    color: #6BA5FF;
}
#hospitals li:hover {
    background-color: #6BA5FF; /* 리스트 항목 위에 마우스를 가져다 댔을 때 배경색이 변경됩니다. */
}
#loading-screen {
    position: fixed;
    top: 50%; /* 화면의 중앙에서 상단으로부터 50% 위치에 표시됩니다. */
    left: 50%; /* 화면의 중앙에서 왼쪽으로부터 50% 위치에 표시됩니다. */
    transform: translate(-50%, -50%); /* 로딩 화면을 수평 및 수직으로 중앙에 위치시킵니다. */
    width: 200px; /* 로딩 화면의 너비 설정 */
    height: 200px; /* 로딩 화면의 높이 설정 */
    background-color: rgba(255, 255, 255, 0); /* 투명도 조절 가능 */
    display: none; /* 초기에는 화면에 표시되지 않도록 합니다. */
    z-index: 999; /* 다른 요소 위에 로딩 화면이 표시되도록 설정합니다. */
    text-align: center; /* 내부 요소를 가운데 정렬합니다. */
}


.spinner {
    position: fixed;
    top: 50%; /* 화면의 중앙에서 상단으로부터 50% 위치에 표시됩니다. */
    left: 50%; /* 화면의 중앙에서 왼쪽으로부터 50% 위치에 표시됩니다. */
    width: 50px;
    height: 50px;
    border: 5px solid #3498db; /* 원의 테두리 색상 */
    border-top: 5px solid #f3f3f3; /* 스피너의 색상 */
    border-radius: 50%; /* 원 모양 만들기 */
    animation: spin 1s linear infinite; /* 회전 애니메이션 */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loading-screen p {
    margin-top: 20px;
    font-size: 20px;
}








:root {
    --primary-light: #8abdff;
    --primary: #6BA5FF;
    --primary-dark: #6BA5FF;
    --white: #FFFFFF;
    --greyLight-1: #E4EBF5;
    --greyLight-2: #c8d0e7;
    --greyLight-3: #bec8e4;
    --greyDark: #9baacf;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    overflow-y: scroll;
    background: black;
}
@media screen and (min-width: 900px) {
    html {
        font-size: 75%;
    }
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    background: var(--greyLight-1);
}

/*.components {
    width: 75rem;
    height: 40rem;
    border-radius: 3rem;
    box-shadow: 0.8rem 0.8rem 1.4rem var(--greyLight-2), -0.2rem -0.2rem 1.8rem var(--white);
    padding: 4rem;
    display: grid;
    grid-template-columns: 17.6rem 19rem 20.4rem;
    grid-template-rows: repeat(auto-fill, min-content);
    grid-column-gap: 5rem;
    grid-row-gap: 2.5rem;
    align-items: center;
}*/
.components {
    width: 75rem;
    height: 40rem;
    border-radius: 3rem;
    box-shadow: 0.8rem 0.8rem 1.4rem var(--greyLight-2), -0.2rem -0.2rem 1.8rem var(--white);
    padding: 4rem;
    display: grid;
    grid-template-columns: 1fr; /* 1열로 고정 */
    grid-auto-rows: min-content; /* 각 행의 높이가 그 행의 내용에 따라 자동으로 결정됨 */
    grid-gap: 2.5rem; /* 행과 열 사이의 간격 */
    justify-items: center; /* 모든 아이템들을 가로 방향으로 중앙에 정렬 */
    align-items: center; /* 모든 아이템들을 세로 방향으로 중앙에 정렬 */
    justify-content: center; /* 그리드 자체를 가로 방향으로 중앙에 정렬 */
    align-content: center; /* 그리드 자체를 세로 방향으로 중앙에 정렬 */
    position: relative;
}



/*  SWITCH  */
.switch {
    grid-column: 1/2;
    display: grid;
    grid-template-columns: repeat(2, min-content);
    grid-gap: 3rem;
    justify-self: center;
}
.switch input {
    display: none;
}
.switch__1, .switch__2 {
    width: 6rem;
}
.switch__1 label, .switch__2 label {
    display: flex;
    align-items: center;
    width: 100%;
    height: 3rem;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
    background: rgba(255, 255, 255, 0);
    position: relative;
    cursor: pointer;
    border-radius: 1.6rem;
}
.switch__1 label::after, .switch__2 label::after {
    content: "";
    position: absolute;
    left: 0.4rem;
    width: 2.1rem;
    height: 2.1rem;
    border-radius: 50%;
    background: var(--greyDark);
    transition: all 0.4s ease;
}
.switch__1 label::before, .switch__2 label::before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background: linear-gradient(330deg, var(--primary-dark) 0%, var(--primary) 50%, var(--primary-light) 100%);
    opacity: 0;
    transition: all 0.4s ease;
}
.switch input:checked ~ label::before {
    opacity: 1;
}
.switch input:checked ~ label::after {
    left: 57%;
    background: var(--greyLight-1);
}

/*  CHECKBOX  */
.checkbox {
    grid-column: 1/2;
    display: grid;
    grid-template-columns: repeat(2, 6rem);
    grid-gap: 3rem;
    justify-content: center;
}
.checkbox input {
    display: none;
}
[class^="checkbox__"] {
    /* width: 6rem;
     display: flex;
     justify-content: center;
     padding: 10px;*/
    display: inline-block; /* 혹은 다른 수평 정렬 속성 사용 */
    width: auto; /* 필요에 따라 너비 조정 */
    padding: 10px;

}
[class^="checkbox__"] label {
    /* box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
     cursor: pointer;
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 0.5rem;
     width: 2.8rem;
     height: 2.8rem;*/
    /* 기존 스타일 */
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
    cursor: pointer;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--greyDark);
    transition: 0.3s ease;
    /* 수정된 스타일 */
    display: inline-block; /* 라벨을 인라인 블록으로 설정하여 텍스트 크기에 따라 가변적으로 조정 */
    padding: 10px; /* 원하는 여백 조정 */
    min-width: 2.8rem; /* 최소 너비를 글자 크기에 따라 자동 조정 */
    white-space: nowrap; /* 텍스트가 길어지더라도 한 줄로 유지되도록 설정 */

}
[class^="checkbox__"] label:hover i {
    color: var(--primary);
}
[class^="checkbox__"] label i {
    /*font-size: 1.8rem;
    font-weight: 700;
    color: var(--greyDark);
    transition: 0.3s ease;*/
    /*font-size: 1.8rem;
    font-weight: 700;
    color: var(--greyDark);
    transition: 0.3s ease;
    writing-mode: horizontal-tb; !* 가로로 텍스트를 늘림 *!
    white-space: nowrap; !* 줄 바꿈을 방지하여 가로로 계속 표시 *!*/
    font-style: normal; /* 기울어진 스타일을 일반 스타일로 변경 */
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--greyDark);
    transition: 0.3s ease;
    writing-mode: horizontal-tb; /* 가로로 텍스트를 늘림 */
    white-space: nowrap; /* 줄 바꿈을 방지하여 가로로 계속 표시 */
}
[class^="checkbox__"] input:checked ~ label {
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
}
[class^="checkbox__"] input:checked ~ label i, .checkbox__2 input:checked ~ label i, .checkbox__3 input:checked ~ label i, .checkbox__4 input:checked ~ label i {
    color: var(--primary);
}

/*  RADIO  */
.radio {
    grid-column: 1/2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}
.radio input {
    display: none;
}
.radio__1 input:checked ~ label, .radio__2 input:checked ~ label {
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
}
.radio__1 input:checked ~ label::after, .radio__2 input:checked ~ label::after {
    background: var(--primary);
}
.radio__1 label, .radio__2 label {
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
}
.radio__1 label:hover::after, .radio__2 label:hover::after {
    background: var(--primary);
}
.radio__1 label::after, .radio__2 label::after {
    content: "";
    position: absolute;
    width: 1.4rem;
    height: 1.4rem;
    background: var(--greyDark);
    border-radius: 50%;
    transition: 0.3s ease;
}

/*  BUTTONS  */
.btn {
    width: 15rem;
    height: 4rem;
    border-radius: 1rem;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease;
}
.btn__primary {
    grid-column: 1/2;
    grid-row: 4/5;
    background: var(--primary);
    box-shadow: inset 0.2rem 0.2rem 1rem var(--primary-light), inset -0.2rem -0.2rem 1rem var(--primary-dark), 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
    color: var(--greyLight-1);
}
.btn__primary:hover {
    color: var(--white);
}
.btn__primary:active {
    box-shadow: inset 0.2rem 0.2rem 1rem var(--primary-dark), inset -0.2rem -0.2rem 1rem var(--primary-light);
}
.btn__secondary {
    grid-column: 1/2;
    grid-row: 5/6;
    color: var(--greyDark);
}
.btn__secondary:hover {
    color: var(--primary);
}
.btn__secondary:active {
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
}
.btn p {
    font-size: 1.6rem;
}


/*  CHIP  */
.chip {
    position: fixed; /* 위치를 고정 */
    top: 0; /* 상단에서 0의 위치에 */
    left: 50%; /* 왼쪽에서 50% 위치에 (가운데 정렬을 위해) */
    transform: translateX(-50%); /* X축 기준으로 -50% 이동하여 정확한 중앙 정렬 */
    width: 34rem;
    height: 8rem;
    border-radius: 1rem;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000; /* 다른 요소들 위에 보이도록 z-index 설정 */
}
.chip__icon {
    width: 3rem;
    height: 3rem;
    border-radius: 1rem;
    margin: 0 0 0 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    color: var(--primary);
}
.chip p {
    font-size: 0.9rem;
    margin-left: -1.8rem;
    color: var(--greyDark);
}
.chip__close {
    width: 1.6rem;
    height: 1.6rem;
    margin: 0 0.5rem;
    display: flex;
    font-size: 1.6rem;
    color: var(--greyLight-3);
    cursor: pointer;
}

/*  PLAY BUTTON  */
.circle {
    grid-column: 2/3;
    grid-row: 4/6;
    width: 9rem;
    height: 100%;
    justify-self: center;
    border-radius: 1rem;
    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
}
.circle__btn {
    grid-row: 1/2;
    grid-column: 1/2;
    width: 6rem;
    height: 6rem;
    display: flex;
    margin: 0.6rem;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 3.2rem;
    color: var(--primary);
    z-index: 300;
    background: var(--greyLight-1);
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
    cursor: pointer;
    position: relative;
}
.circle__btn.shadow {
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
}
.circle__btn .play {
    position: absolute;
    opacity: 0;
    transition: all 0.2s linear;
}
.circle__btn .play.visibility {
    opacity: 1;
}
.circle__btn .pause {
    position: absolute;
    transition: all 0.2s linear;
}
.circle__btn .pause.visibility {
    opacity: 0;
}
.circle__back-1, .circle__back-2 {
    grid-row: 1/2;
    grid-column: 1/2;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    filter: blur(1px);
    z-index: 100;
}
.circle__back-1 {
    box-shadow: 0.4rem 0.4rem 0.8rem var(--greyLight-2), -0.4rem -0.4rem 0.8rem var(--white);
    background: linear-gradient(to bottom right, var(--greyLight-2) 0%, var(--white) 100%);
    animation: waves 4s linear infinite;
}
.circle__back-1.paused {
    animation-play-state: paused;
}
.circle__back-2 {
    box-shadow: 0.4rem 0.4rem 0.8rem var(--greyLight-2), -0.4rem -0.4rem 0.8rem var(--white);
    animation: waves 4s linear 2s infinite;
}
.circle__back-2.paused {
    animation-play-state: paused;
}

/*  FORM  */
.form {
    grid-column: 3/4;
    grid-row: 3/4;
}
.form__input {
    width: 20.4rem;
    height: 4rem;
    border: none;
    border-radius: 1rem;
    font-size: 1.4rem;
    padding-left: 1.4rem;
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
    background: none;
    font-family: inherit;
    color: var(--greyDark);
}
.form__input::placeholder {
    color: var(--greyLight-3);
}
.form__input:focus {
    outline: none;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
}

/*  SEARCH  */
.search {
    grid-column: 3/4;
    grid-row: 2/3;
    position: relative;
    display: flex;
    align-items: center;
}
.search__input {
    width: 20.4rem;
    height: 4rem;
    border: none;
    border-radius: 1rem;
    font-size: 1.4rem;
    padding-left: 3.8rem;
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
    background: none;
    font-family: inherit;
    color: var(--greyDark);
}
.search__input::placeholder {
    color: var(--greyLight-3);
}
.search__input:focus {
    outline: none;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
}
.search__input:focus + .search__icon {
    color: var(--primary);
}
.search__icon {
    height: 2rem;
    position: absolute;
    font-size: 2rem;
    padding: 0 1rem;
    display: flex;
    color: var(--greyDark);
    transition: 0.3s ease;
}

/*  SEGMENTED-CONTROL */
/*.segmented-control {
    grid-column: 3/4;
    grid-row: 1/2;
    width: 61.2rem;
    height: 4rem;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    position: relative;
}*/
.segmented-control {

    width: 61.2rem;
    height: 4rem;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0; /* 상단에 고정 */
    left: 50%; /* 가로 중앙 정렬을 위해 */
    transform: translateX(-50%); /* 정확한 가로 중앙 정렬을 위해 */
}

.segmented-control input {
    display: none;
}
.segmented-control > input:checked + label {
    transition: all 0.5s ease;
    color: var(--primary);
}
.segmented-control__1, .segmented-control__2, .segmented-control__3, .segmented-control__4, .segmented-control__5, .segmented-control__6, .segmented-control__7, .segmented-control__8, .segmented-control__9 {
    width: 6.8rem;
    height: 3.6rem;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--greyDark);
    transition: all 0.5s ease;
}
.segmented-control__1:hover, .segmented-control__2:hover, .segmented-control__3:hover, .segmented-control__4:hover, .segmented-control__5:hover, .segmented-control__6:hover, .segmented-control__7:hover, .segmented-control__8:hover, .segmented-control__9:hover {
    color: var(--primary);
}
.segmented-control__color {
    position: absolute;
    height: 3.4rem;
    width: 6.2rem;
    margin-left: 0.3rem;
    border-radius: 0.8rem;
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
    pointer-events: none;
}

#tab-1:checked ~ .segmented-control__color {
    transform: translateX(0);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#tab-2:checked ~ .segmented-control__color {
    transform: translateX(6.8rem);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#tab-3:checked ~ .segmented-control__color {
    transform: translateX(13.6rem);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
#tab-4:checked ~ .segmented-control__color {
    transform: translateX(20.4rem);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#tab-5:checked ~ .segmented-control__color {
    transform: translateX(27.2rem);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#tab-6:checked ~ .segmented-control__color {
    transform: translateX(34rem);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
#tab-7:checked ~ .segmented-control__color {
    transform: translateX(40.8rem);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#tab-8:checked ~ .segmented-control__color {
    transform: translateX(47.6rem);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#tab-9:checked ~ .segmented-control__color {
    transform: translateX(54.4rem);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/*  ICONS  */
.icon {
    grid-column: 3/4;
    grid-row: 4/5;
    display: flex;
    justify-content: space-between;
}
.icon__account, .icon__home, .icon__settings {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
    color: var(--greyDark);
    transition: all 0.5s ease;
}
.icon__account:active, .icon__home:active, .icon__settings:active {
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
    color: var(--primary);
}
.icon__account:hover, .icon__home:hover, .icon__settings:hover {
    color: var(--primary);
}

/*  RANGE-SLIDER  */
.slider {
    grid-column: 3/4;
    grid-row: 5/6;
    align-self: center;
    display: flex;
    flex-direction: column;
}
.slider__box {
    width: 100%;
    height: 1rem;
    cursor: pointer;
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
    border-radius: 1rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider__btn {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: var(--white);
    position: absolute;
    box-shadow: 0 0.1rem 0.3rem 0 var(--greyLight-3);
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider__btn:hover ~ .slider__tooltip {
    opacity: 1;
}
.slider__btn::after {
    content: "";
    position: absolute;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
}
.slider__color {
    height: 100%;
    width: 50%;
    position: absolute;
    left: 0;
    z-index: 100;
    border-radius: inherit;
    background: var(--primary);
    background: linear-gradient(-1deg, var(--primary-dark) 0%, var(--primary) 50%, var(--primary-light) 100%);
}
.slider__tooltip {
    position: absolute;
    top: 2.6rem;
    height: 2.5rem;
    width: 3rem;
    border-radius: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: var(--primary);
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
    opacity: 0;
    transition: opacity 0.3s ease;
}

@keyframes waves {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}
.dribbble {
    position: fixed;
    font-size: 2.6rem;
    right: 2rem;
    bottom: 1rem;
    color: #EA4C89;
}