<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat with AI</title>
    <link rel="stylesheet" href="/css/styles.css">

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
</head>
<body>

<div class="container">
    <div class="components">
        <div class="chip">
            <div class="chip__icon">
                <ion-icon name="fitness-outline"></ion-icon>
            </div>
            <h2 style="text-align: center; color: #6d5dfc; margin-right: 160px" >QD의 추정진단!</h2>
        </div>
        <div class="form">
            <form action="/chat" method="post">
                <input type="text" class="form__input"  style="align-items: center; position: absolute; top: 0; left: 50%; transform: translateX(-50%);" name="userInput" id="userInput1" placeholder="추가 증상을 입력하세요...">
                <label>
                    <textarea class="form__input" style="width: 500px; height: 300px; resize: none; margin-right: 350px;" name="scriptOutput" id="scriptOutput" readonly th:text="*{scriptOutput}"></textarea>
                </label>
                <button type="submit" class="btn btn__primary" style="align-items: center; position: absolute; bottom: 0; left: 180%; transform: translateX(-50%);">질문하기</button>
            </form>
        </div>
    </div>
</div>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>