<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat with AI</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<script type="importmap">
    {
        "imports": {
        "@google/generative-ai": "https://esm.run/@google/generative-ai"
        }
    }
</script>
<div id="chatbotContainer" class="chatbot-container">
    <div id="chatbotHeader" class="chatbot-header">
        <button id="chatbotToggle" class="chatbot-toggle-btn">챗봇 닫기</button>
    </div>
    <div id="chatbotBody" class="chatbot-body">
        <div class="line">
            <span class="chat-box">진단받은 병명이 궁금하시다구요?</span>
        </div>
        <div class="line">
            <span class="chat-box mine">여기 물어보세요!!</span>
        </div>
    </div>
    <div id="chatInputContainer" class="chat-input-container">
        <input type="text" id="chatInput" class="chat-input" placeholder="메시지를 입력하세요...">
        <button id="send" class="send-btn">전송</button>
    </div>
</div>

<div class="container">
    <div class="chip">
        <div class="chip__icon">
            <ion-icon name="fitness-outline"></ion-icon>
        </div>
        <h2 style="text-align: center; color: #6BA5FF; margin-right: 70px; font-size: 46px" >QD의 추정진단!</h2>
    </div>
    <div class="components">
        <div class="form">
            <form action="/chat" method="post">
                <div class="form__input" style="width: 500px; height: 300px; resize: none; padding-top: 16.8px">
                    <strong style="color: black">환자 상태 고려 질병 가능성(병명 요약)</strong><br>
                    <strong style="color: black">가능성 순위 : </strong><br>
                    <br>
                    <p th:each="diseaseName : ${diseaseNames}">
                        <a class="diseaseName" href="" id="diseaseLink" th:text="${diseaseName}"></a>
                    </p>
                </div>
                <p>
                    <a href="/user/map" class="btn btn__primary" style="align-items: center; position: absolute; bottom: 0; left: 45%;">병원찾기</a>
                </p>
            </form>
        </div>
    </div>
</div>
<script type="module" src="/js/diseaseAsk.js"></script>
</body>
</html>