<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>

</head>
<body>
<div class="container">
    <div class="components">
        <div class="chip">
            <div class="chip__icon">
                <ion-icon name="fitness-outline"></ion-icon>
            </div>
            <h2 style="text-align: center; color: #6d5dfc; margin-right: 45px" >당신을 위한 AI 닥터, QD를 만나보세요.</h2>
        </div>
        <p style="font-size: large">
            <ion-icon name="chatbox-outline"></ion-icon>
            증상을 입력하시면 AI 닥터가 빠르게 답변해 드립니다!
        </p>

        <div th:if="${loginUserId != null}" class="btn btn__primary">
            <span><a href="/user/login"  style="text-decoration: none; color: inherit;" onclick="alert('로그인이 필요합니다.');">지금 진단받기</a></span>
        </div>
        <div th:unless="${loginUserId == null}" class="btn btn__primary">
            <a href="/user/aiDoctor" style="text-decoration: none; color: inherit;">지금 진단받기</a>
        </div>
        <div th:if="${loginUserId == null}" class="btn btn__primary">
            <span><a href="/user/register" style="text-decoration: none; color: inherit;">회원가입</a></span>
        </div>
        <div th:if="${loginUserId == null}" class="btn btn__primary">
            <span><a href="/user/login" style="text-decoration: none; color: inherit;">로그인</a></span>
        </div>
        <div th:if="${loginUserId != null}" class="btn btn__primary">
            <span><a href="/user/logout" style="text-decoration: none; color: inherit;">로그아웃</a></span>
        </div>
        <div th:if="${loginUserId != null}" class="btn btn__primary">
            <span><a href="/user/mypage" style="text-decoration: none; color: inherit;">마이페이지</a></span>
        </div>
    </div>
</div>
<!--<script type="text/javascript" src="/js/script.js"></script>-->
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>