<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/mainStyles.css">

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>

</head>
<body>
<div class="container">
        <div class="components">
        <div class="chip">
            <h2 class="header">당신을 위한 AI 닥터, QD를 만나보세요</h2>
        </div>
            <p class="message"> <!-- 클래스 추가 -->
                <ion-icon name="chatbox-outline"></ion-icon>
                증상을 입력하고 빠른진단을 받아보세요!
            </p>

        <div th:if="${loginUserId == null}">
            <span><a href="/user/login" class="btn btn__primary " style="text-decoration: none; color: white;" onclick="alert('로그인이 필요합니다.');">AI.Doc QD</a></span>
        </div>
        <div th:unless="${loginUserId == null}">
            <a href="#" class="btn btn__primary" style="text-decoration: none; color: white;" onclick="checkBeforeRedirect(event)">
                AI.Doc QD
            </a>
        </div>
        <div th:if="${loginUserId != null}">
            <span><a href="/user/userData" class="btn btn__primary" style="text-decoration: none; color: white;">Data Input</a></span>
        </div>
        <div th:if="${loginUserId == null}">
            <span><a href="/user/login" class="btn btn__primary" style="text-decoration: none; color: white;">Sign In</a></span>
        </div>
        <div th:if="${loginUserId == null}">
            <span><a href="/user/register" class="btn btn__primary" style="text-decoration: none; color: white;">Sign Up</a></span>
        </div>
        <div th:if="${loginUserId != null}">
            <span><a href="/user/logout" class="btn btn__primary" style="text-decoration: none; color: white;">Log Out</a></span>
        </div>
        <div th:if="${loginUserId != null}">
            <span><a href="/user/mypage" class="btn btn__primary" style="text-decoration: none; color: white;">Mypage</a></span>
        </div>

    </div>
</div>
<script type="text/javascript" src="/js/mainScripts.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>