<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>내 위치 기반 정형외과 검색</title>
    <link rel="stylesheet" href="/css/mapStyles.css">
    <link rel="stylesheet" href="/css/navBar.css" />
    <script src="https://kit.fontawesome.com/39996071eb.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
</head>
<body>
<nav th:replace="~{navbar :: navbarFragment}"></nav>
<header>
    <h1>지도에서 확인하기</h1>
</header>

<main id="map-container">
    <div id="loading-screen">
        <div class="spinner"></div>
    </div>
    <div id="map"></div>
    <div id="horizontal-container" style="width: 50px;"></div>
    <div id="container">
        <div id="hospital-list">
            <h2>근처과 리스트</h2>
            <br>
            <ul id="hospitals"></ul> <!-- 여기에 병원 목록이 표시됩니다. -->
        </div>
    </div>
</main>

<script type="text/javascript" src="/js/mapScripts.js"></script>

<!--<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJrB7Ah5YJqx_2komtNmYESZmhTPd5x-U&libraries=places&callback=initMap">
</script>-->
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxKbz-S5AANbXv0JoOd8dUKFNTLwnK5wE&libraries=places&callback=initMap">
</script>
</body>
</html>