<!DOCTYPE html>
<html>
<head>
    <title>근처 병원 리스트</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<div class="container">
    <div class="content">
        <div>
            <h1 class="hospital-header">근처 병원 리스트</h1>
            <ul id="medicalList" class="hospital-list"></ul>
        </div>
        <div id="map" class="hospital-map"></div>
    </div>
</div>

<script src="/js/mapScripts.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJrB7Ah5YJqx_2komtNmYESZmhTPd5x-U&libraries=places&callback=initMap"></script>
</body>
</html>
