<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>증상 선택</title>
    <link rel="stylesheet" href="/css/styles.css">

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>

</head>
<body>
<div class="container">
    <div class="components">
        <div class="chip">
            <div class="chip__icon">
                <ion-icon name="fitness-outline"></ion-icon>
            </div>
            <h2 style="text-align: center; color: #6d5dfc; margin-right: 170px" >증상 선택</h2>
        </div>
        <div class="segmented-control">

            <input type="radio" name="radio2" value="head" id="tab-1" checked/>
            <label for="tab-1" class= "segmented-control__1">
                <p>머리</p></label>

            <input type="radio" name="radio2" value="neck" id="tab-2" />
            <label for="tab-2" class= "segmented-control__2">
                <p>목</p></label>

            <input type="radio" name="radio2" value="shoulder" id="tab-3" />
            <label for="tab-3" class= "segmented-control__3">
                <p>어깨</p></label>

            <input type="radio" name="radio2" value="chest" id="tab-4"/>
            <label for="tab-4" class= "segmented-control__4">
                <p>가슴</p></label>

            <input type="radio" name="radio2" value="stomach" id="tab-5" />
            <label for="tab-5" class= "segmented-control__5">
                <p>배</p></label>

            <input type="radio" name="radio2" value="ass" id="tab-6" />
            <label for="tab-6" class= "segmented-control__6">
                <p>엉덩이</p></label>

            <input type="radio" name="radio2" value="waist" id="tab-7"/>
            <label for="tab-7" class= "segmented-control__7">
                <p>허리</p></label>

            <input type="radio" name="radio2" value="arm" id="tab-8" />
            <label for="tab-8" class= "segmented-control__8">
                <p>팔</p></label>

            <input type="radio" name="radio2" value="leg" id="tab-9" />
            <label for="tab-9" class= "segmented-control__9">
                <p>다리</p></label>

            <div class="segmented-control__color"></div>
        </div>

        <form action="/diag/askAI" method="POST">
            <div class="checkbox" id="tab-1Checkbox">
                <div class="checkbox__1">
                    <input id="headPail" type="checkbox" name="head[]" value="두통">
                    <label for="headPail">
                        <i class="material-icons">두통</i></label>
                </div>
                <div class="checkbox__2">
                    <input id="headFever" type="checkbox" name="head[]" value="발열">
                    <label for="headFever">
                        <i class="material-icons">발열</i></label>
                </div>
                <div class="checkbox__3">
                    <input id="headAnemia" type="checkbox" name="head[]" value="빈혈">
                    <label for="headAnemia">
                        <i class="material-icons">빈혈</i></label>
                </div>
            </div>

            <div class="checkbox" id="tab-2Checkbox">
                <div class="checkbox__1">
                    <input id="neckPail" type="checkbox" name="neck[]" value="통증">
                    <label for="neckPail">
                        <i class="material-icons">통증</i></label>
                </div>
                <div class="checkbox__2">
                    <input id="neckFever" type="checkbox" name="neck[]" value="발열">
                    <label for="neckFever">
                        <i class="material-icons">발열</i></label>
                </div>
                <div class="checkbox__3">
                    <input id="neckSwelling" type="checkbox" name="neck[]" value="붓기">
                    <label for="neckSwelling">
                        <i class="material-icons">붓기</i></label>
                </div>
                <div class="checkbox__4">
                    <input id="neckLump" type="checkbox" name="neck[]" value="멍울">
                    <label for="neckLump">
                        <i class="material-icons">멍울</i></label>
                </div>
            </div>

            <div class="checkbox" id="tab-3Checkbox">
                <div class="checkbox__1">
                    <input id="shoulderPail" type="checkbox" name="shoulder[]" value="통증">
                    <label for="shoulderPail">
                        <i class="material-icons">통증</i></label>
                </div>
                <div class="checkbox__1">
                    <input id="shoulderFever" type="checkbox" name="shoulder[]" value="발열">
                    <label for="shoulderFever">
                        <i class="material-icons">발열</i></label>
                </div>
                <div class="checkbox__1">
                    <input id="shoulderScope" type="checkbox" name="shoulder[]" value="가동범위제한">
                    <label for="shoulderScope">
                        <i class="material-icons">가동범위제한</i></label>
                </div>
                <div class="checkbox__1">
                    <input id="shoulderSound" type="checkbox" name="shoulder[]" value="소리">
                    <label for="shoulderSound">
                        <i class="material-icons">소리</i></label>
                </div>
            </div>

            <div class="checkbox" id="tab-4Checkbox">
                <div class="checkbox__1">
                    <input id="chestPail" type="checkbox" name="chest[]" value="근육통">
                    <label for="chestPail">
                        <i class="material-icons">근육통</i></label>
                </div>
                <div class="checkbox__1">
                    <input id="chestPail2" type="checkbox" name="chest[]" value="내부통증">
                    <label for="chestPail2">
                        <i class="material-icons">내부통증</i></label>
                </div>
                <div class="checkbox__1">
                    <input id="chestBreath" type="checkbox" name="chest[]" value="숨쉬기 어려움">
                    <label for="chestBreath">
                        <i class="material-icons">숨쉬기 어려움</i></label>
                </div>
                <div class="checkbox__1">
                    <input id="heartRate" type="checkbox" name="chest[]" value="과한 심박수">
                    <label for="heartRate">
                        <i class="material-icons">과한 심박수</i></label>
                </div>
            </div>

            <div class="checkbox" id="tab-5Checkbox">
                <div class="checkbox__1">
                    <input id="stomachPail" type="checkbox" name="stomach[]" value="통증">
                    <label for="stomachPail">
                        <i class="material-icons">통증</i></label>
                </div>
                <div class="checkbox__1">
                    <input id="diarrhea" type="checkbox" name="stomach[]" value="설사">
                    <label for="diarrhea">
                        <i class="material-icons">설사</i></label>
                </div>
                <div class="checkbox__1">
                    <input id="constipation" type="checkbox" name="stomach[]" value="변비">
                    <label for="constipation">
                        <i class="material-icons">변비</i></label>
                </div>
                <div class="checkbox__1">
                    <input id="gas" type="checkbox" name="stomach[]" value="가스">
                    <label for="gas">
                        <i class="material-icons">가스</i></label>
                </div>
                <div class="checkbox__1">
                    <input id="distension" type="checkbox" name="stomach[]" value="팽창">
                    <label for="distension">
                        <i class="material-icons">팽창</i></label>
                </div>
            </div>
            <div class="checkbox" id="tab-6Checkbox">
                <div class="checkbox__1">
                    <input id="assPail" type="checkbox" name="ass[]" value="통증">
                    <label for="assPail">
                        <i class="material-icons">통증</i></label>
                </div>
                <div class="checkbox__1">
                    <input id="bleeding" type="checkbox" name="ass[]" value="출혈">
                    <label for="bleeding">
                        <i class="material-icons">출혈</i></label>
                </div>
                <div class="checkbox__1">
                    <input id="assLump" type="checkbox" name="ass[]" value="멍울">
                    <label for="assLump">
                        <i class="material-icons">멍울</i></label>
                </div>
            </div>
            <div class="checkbox" id="tab-7Checkbox">
                <div class="checkbox__1">
                    <input id="waistPail" type="checkbox" name="waist[]" value="통증">
                    <label for="waistPail">
                        <i class="material-icons">통증</i></label>
                </div>
                <div class="checkbox__1">
                    <input id="waistTingling" type="checkbox" name="waist[]" value="저림">
                    <label for="waistTingling">
                        <i class="material-icons">저림</i></label>
                </div>
                <div class="checkbox__1">
                    <input id="waistParalysis" type="checkbox" name="waist[]" value="마비">
                    <label for="waistParalysis">
                        <i class="material-icons">마비</i></label>
                </div>
            </div>
            <div class="checkbox" id="tab-8Checkbox">
                <div class="checkbox__1">
                    <input id="armPail" type="checkbox" name="arm[]" value="통증">
                    <label for="armPail">
                        <i class="material-icons">통증</i></label>
                </div>
                <div class="checkbox__1">
                    <input id="armTingling" type="checkbox" name="arm[]" value="저림">
                    <label for="armTingling">
                        <i class="material-icons">저림</i></label>
                </div>
                <div class="checkbox__1">
                    <input id="armParalysis" type="checkbox" name="arm[]" value="마비">
                    <label for="armParalysis">
                        <i class="material-icons">마비</i></label>
                </div>
            </div>
            <div class="checkbox" id="tab-9Checkbox">
                <div class="checkbox__1">
                    <input id="legPail" type="checkbox" name="leg[]" value="통증">
                    <label for="legPail">
                        <i class="material-icons">통증</i></label>
                </div>
                <div class="checkbox__1">
                    <input id="legTingling" type="checkbox" name="leg[]" value="저림">
                    <label for="legTingling">
                        <i class="material-icons">저림</i></label>
                </div>
                <div class="checkbox__1">
                    <input id="legParalysis" type="checkbox" name="leg[]" value="마비">
                    <label for="legParalysis">
                        <i class="material-icons">마비</i></label>
                </div>
            </div>

            <input type="submit" class="btn btn__primary" style="border: 0; margin: 5px" value="확인">
            <input type="reset" class="btn btn__primary" style="border: 0; margin: 5px" value="취소">
        </form>

    </div>
</div>
<script type="text/javascript" src="/js/checkbox.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>