<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>증상 선택</title>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <style>
        .components1 {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 112.5rem;
            height: 60rem;
            border-radius: 10px;
            /*box-shadow: 0.8rem 0.8rem 1.4rem var(--greyLight-2), -0.2rem -0.2rem 1.8rem var(--white);*/
            padding: 4rem;
            position: relative;
            color: var(--white);
            background: var(--white);
            /*background-image: url("/images/blue.jpg");*/
            order: 2; /* components1 요소를 chip 위에 배열 */
        }

        form{
            display: grid;
            grid-template-rows: repeat(2, auto);
        }

    </style>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/navBar.css" />
    <script src="https://kit.fontawesome.com/39996071eb.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
</head>
<body>
<nav th:replace="~{navbar :: navbarFragment}"></nav>
<div class="container">
    <div class="header" style="font-size: 3em; padding: 0">
        <p style="text-align: center; color: #6BA5FF;" ><ion-icon name="fitness-outline"></ion-icon> 증상 선택</p>
    </div>
    <div class="components1">
        <div class="segmented-control">

            <input type="radio" name="radio2" value="head" id="tab-1" checked/>
            <label for="tab-1" class= "segmented-control__1">
                <p>머리</p></label>

            <input type="radio" name="radio2" value="eye" id="tab-2" />
            <label for="tab-2" class= "segmented-control__2">
                <p>눈</p></label>

            <input type="radio" name="radio2" value="nose" id="tab-3" />
            <label for="tab-3" class= "segmented-control__3">
                <p>코</p></label>

            <input type="radio" name="radio2" value="mouse" id="tab-4"/>
            <label for="tab-4" class= "segmented-control__4">
                <p>입</p></label>

            <input type="radio" name="radio2" value="ear" id="tab-5" />
            <label for="tab-5" class= "segmented-control__5">
                <p>귀</p></label>

            <input type="radio" name="radio2" value="neck" id="tab-6" />
            <label for="tab-6" class= "segmented-control__6">
                <p>목</p></label>

            <input type="radio" name="radio2" value="chest" id="tab-7"/>
            <label for="tab-7" class= "segmented-control__7">
                <p>가슴</p></label>

            <input type="radio" name="radio2" value="gas" id="tab-8" />
            <label for="tab-8" class= "segmented-control__8">
                <p>소화기</p></label>

            <input type="radio" name="radio2" value="etc" id="tab-9" />
            <label for="tab-9" class= "segmented-control__9">
                <p>기타</p></label>
            <div class="segmented-control__color"></div>
        </div>

        <form action="/diag/askAI" method="POST">
            <div class="checkbox" id="tab-1Checkbox">
                <div class="checkbox__1">
                    <input id="tab-1Checkbox_1" type="checkbox" name="head[]" value="두통">
                    <label for="tab-1Checkbox_1">
                        <i class="material-icons">두통</i></label>
                </div>
                <div class="checkbox__2">
                    <input id="tab-1Checkbox_2" type="checkbox" name="head[]" value="발열">
                    <label for="tab-1Checkbox_2">
                        <i class="material-icons">발열</i></label>
                </div>

            </div>

            <div class="checkbox" id="tab-2Checkbox">
                <div class="checkbox__1">
                    <input id="tab-2Checkbox_1" type="checkbox" name="eye[]" value="눈 통증">
                    <label for="tab-2Checkbox_1">
                        <i class="material-icons">눈 통증</i></label>
                </div>
                <div class="checkbox__2">
                    <input id="tab-2Checkbox_2" type="checkbox" name="eye[]" value="눈물">
                    <label for="tab-2Checkbox_2">
                        <i class="material-icons">눈물</i></label>
                </div>
                <div class="checkbox__3">
                    <input id="tab-2Checkbox_3" type="checkbox" name="eye[]" value="시야 문제">
                    <label for="tab-2Checkbox_3">
                        <i class="material-icons">시야 문제</i></label>
                </div>

            </div>

            <div class="checkbox" id="tab-3Checkbox">
                <div class="checkbox__1">
                    <input id="tab-3Checkbox_1" type="checkbox" name="nose[]" value="코 막힘 및 콧물">
                    <label for="tab-3Checkbox_1">
                        <i class="material-icons">코 막힘 및 콧물</i></label>
                </div>
                <div class="checkbox__1">
                    <input id="tab-3Checkbox_2" type="checkbox" name="nose[]" value="재채기">
                    <label for="tab-3Checkbox_2">
                        <i class="material-icons">재채기</i></label>
                </div>

            </div>

            <div class="checkbox" id="tab-4Checkbox">
                <div class="checkbox__1">
                    <input id="tab-4Checkbox_1" type="checkbox" name="mouse[]" value="구토 및 구역질">
                    <label for="tab-4Checkbox_1">
                        <i class="material-icons">구토 및 구역질</i></label>
                </div>
                <div class="checkbox__1">
                    <input id="tab-4Checkbox_2" type="checkbox" name="mouse[]" value="갈증">
                    <label for="tab-4Checkbox_2">
                        <i class="material-icons">갈증</i></label>
                </div>

            </div>

            <div class="checkbox" id="tab-5Checkbox">
                <div class="checkbox__1">
                    <input id="tab-5Checkbox_1" type="checkbox" name="ear[]" value="귀 통증">
                    <label for="tab-5Checkbox_1">
                        <i class="material-icons">귀 통증</i></label>
                </div>
                <div class="checkbox__1">
                    <input id="tab-5Checkbox_2" type="checkbox" name="ear[]" value="청력 문제">
                    <label for="tab-5Checkbox_2">
                        <i class="material-icons">청력 문제</i></label>
                </div>
                <div class="checkbox__1">
                    <input id="tab-5Checkbox_3" type="checkbox" name="ear[]" value="귀 분비물">
                    <label for="tab-5Checkbox_3">
                        <i class="material-icons">귀 분비물</i></label>
                </div>

            </div>
            <div class="checkbox" id="tab-6Checkbox">
                <div class="checkbox__1">
                    <input id="tab-6Checkbox_1" type="checkbox" name="neck[]" value="목 통증">
                    <label for="tab-6Checkbox_1">
                        <i class="material-icons">목 통증</i></label>
                </div>
                <div class="checkbox__1">
                    <input id="tab-6Checkbox_2" type="checkbox" name="neck[]" value="목 분비물 및 이물감">
                    <label for="tab-6Checkbox_2">
                        <i class="material-icons">목 분비물 및 이물감</i></label>
                </div>

            </div>
            <div class="checkbox" id="tab-7Checkbox">
                <div class="checkbox__1">
                    <input id="tab-7Checkbox_1" type="checkbox" name="chest[]" value="가슴통증">
                    <label for="tab-7Checkbox_1">
                        <i class="material-icons">가슴통증</i></label>
                </div>
                <div class="checkbox__1">
                    <input id="tab-7Checkbox_2" type="checkbox" name="chest[]" value="심장박동수 변화">
                    <label for="tab-7Checkbox_2">
                        <i class="material-icons">심장박동수 변화</i></label>
                </div>
                <div class="checkbox__1">
                    <input id="tab-7Checkbox_3" type="checkbox" name="chest[]" value="호흡 문제">
                    <label for="tab-7Checkbox_3">
                        <i class="material-icons">호흡 문제</i></label>
                </div>
            </div>
            <div class="checkbox" id="tab-8Checkbox">
                <div class="checkbox__1">
                    <input id="tab-8Checkbox_1" type="checkbox" name="gas[]" value="복통 및 속쓰림">
                    <label for="tab-8Checkbox_1">
                        <i class="material-icons">복통 및 속쓰림</i></label>
                </div>
                <div class="checkbox__1">
                    <input id="tab-8Checkbox_2" type="checkbox" name="gas[]" value="소화 문제">
                    <label for="tab-8Checkbox_2">
                        <i class="material-icons">소화 문제</i></label>
                </div>
                <div class="checkbox__1">
                    <input id="tab-8Checkbox_3" type="checkbox" name="gas[]" value="설사">
                    <label for="tab-8Checkbox_3">
                        <i class="material-icons">설사</i></label>
                </div>
                <div class="checkbox__1">
                    <input id="tab-8Checkbox_4" type="checkbox" name="gas[]" value="배뇨 문제">
                    <label for="tab-8Checkbox_4">
                        <i class="material-icons">배뇨문제</i></label>
                </div>
            </div>
            <div class="checkbox" id="tab-9Checkbox">
                <div class="checkbox__1">
                    <input id="tab-9Checkbox_1" type="checkbox" name="etc[]" value="체온 조절 문제">
                    <label for="tab-9Checkbox_1">
                        <i class="material-icons">체온 조절 문제</i></label>
                </div>
                <div class="checkbox__1">
                    <input id="tab-9Checkbox_2" type="checkbox" name="etc[]" value="체중 변화">
                    <label for="tab-9Checkbox_2">
                        <i class="material-icons">체중 변화</i></label>
                </div>
                <div class="checkbox__1">
                    <input id="tab-9Checkbox_3" type="checkbox" name="etc[]" value="피로">
                    <label for="tab-9Checkbox_3">
                        <i class="material-icons">피로</i></label>
                </div>
            </div>
            <div id="tab-10CheckboxOut" th:if="${loginUserId != null}">
                <input type="submit" class="btn btn__primary" style="border: 0; margin-left: 10.5rem; margin-right: 10.5rem;" value="확인">
            </div>
            <div id="tab-11CheckboxOut" th:if="${loginUserId == null}">
                <span><a href="/user/loginError" class="btn btn__primary" style="text-decoration: none; color: white; margin-left: 10.5rem; margin-right: 10.5rem;">확인</a></span>
            </div>
            <!--            <input type="reset" class="btn btn__primary" style="border: 0; margin: 5px" value="취소">-->
        </form>
        <div style="display: grid; grid-template-columns: repeat(4, 17rem); justify-content: center; overflow: scroll" >
            <div id="tab-1Checkbox_1Output" class="checkbox__1" style="display:none; padding: 3px; width: 8rem">
                <button id="tab-1Checkbox_1Output_1" style="border: 0">
                    <label for="tab-1Checkbox_1Output_1"><i class="material-icons">두통</i></label></button>
            </div>
            <div id="tab-1Checkbox_2Output" class="checkbox__1" style="display:none; padding: 3px; width: 8rem">
                <button id="tab-1Checkbox_2Output_1" style="border: 0">
                    <label for="tab-1Checkbox_2Output_1"><i class="material-icons">발열</i></label></button>
            </div>

            <div id="tab-2Checkbox_1Output" class="checkbox__1" style="display:none; padding: 3px; width: 8rem">
                <button id="tab-2Checkbox_1Output_1" style="border: 0">
                    <label for="tab-2Checkbox_1Output_1"><i class="material-icons">눈 통증</i></label></button>
            </div>
            <div id="tab-2Checkbox_2Output" class="checkbox__1" style="display:none; padding: 3px; width: 8rem">
                <button id="tab-2Checkbox_2Output_1" style="border: 0">
                    <label for="tab-2Checkbox_2Output_1"><i class="material-icons">눈물</i></label></button>
            </div>
            <div id="tab-2Checkbox_3Output" class="checkbox__1" style="display:none; padding: 3px; width: 8rem">
                <button id="tab-2Checkbox_3Output_1" style="border: 0">
                    <label for="tab-2Checkbox_3Output_1"><i class="material-icons">시야 문제</i></label></button>
            </div>

            <div id="tab-3Checkbox_1Output" class="checkbox__1" style="display:none; padding: 3px; width: 8rem">
                <button id="tab-3Checkbox_1Output_1" style="border: 0">
                    <label for="tab-3Checkbox_1Output_1"><i class="material-icons">코 막힘 및 콧물</i></label></button>
            </div>
            <div id="tab-3Checkbox_2Output" class="checkbox__1" style="display:none; padding: 3px; width: 8rem">
                <button id="tab-3Checkbox_2Output_1" style="border: 0">
                    <label for="tab-3Checkbox_2Output_1"><i class="material-icons">재채기</i></label></button>
            </div>

            <div id="tab-4Checkbox_1Output" class="checkbox__1" style="display:none; padding: 3px; width: 8rem">
                <button id="tab-4Checkbox_1Output_1" style="border: 0">
                    <label for="tab-4Checkbox_1Output_1"><i class="material-icons">구토 및 구역질</i></label></button>
            </div>
            <div id="tab-4Checkbox_2Output" class="checkbox__1" style="display:none; padding: 3px; width: 8rem">
                <button id="tab-4Checkbox_2Output_1" style="border: 0">
                    <label for="tab-4Checkbox_2Output_1"><i class="material-icons">갈증</i></label></button>
            </div>

            <div id="tab-5Checkbox_1Output" class="checkbox__1" style="display:none; padding: 3px; width: 8rem">
                <button id="tab-5Checkbox_1Output_1" style="border: 0">
                    <label for="tab-5Checkbox_1Output_1"><i class="material-icons">귀 통증</i></label></button>
            </div>
            <div id="tab-5Checkbox_2Output" class="checkbox__1" style="display:none; padding: 3px; width: 8rem">
                <button id="tab-5Checkbox_2Output_1" style="border: 0">
                    <label for="tab-5Checkbox_2Output_1"><i class="material-icons">청력 문제</i></label></button>
            </div>
            <div id="tab-5Checkbox_3Output" class="checkbox__1" style="display:none; padding: 3px; width: 8rem">
                <button id="tab-5Checkbox_3Output_1" style="border: 0">
                    <label for="tab-5Checkbox_3Output_1"><i class="material-icons">귀 분비물</i></label></button>
            </div>

            <div id="tab-6Checkbox_1Output" class="checkbox__1" style="display:none; padding: 3px; width: 8rem">
                <button id="tab-6Checkbox_1Output_1" style="border: 0">
                    <label for="tab-6Checkbox_1Output_1"><i class="material-icons">목 통증</i></label></button>
            </div>
            <div id="tab-6Checkbox_2Output" class="checkbox__1" style="display:none; padding: 3px; width: 8rem">
                <button id="tab-6Checkbox_2Output_1" style="border: 0">
                    <label for="tab-6Checkbox_2Output_1"><i class="material-icons">목 분비물 및 이물감</i></label></button>
            </div>

            <div id="tab-7Checkbox_1Output" class="checkbox__1" style="display:none; padding: 3px; width: 8rem">
                <button id="tab-7Checkbox_1Output_1" style="border: 0">
                    <label for="tab-7Checkbox_1Output_1"><i class="material-icons">가슴통증</i></label></button>
            </div>
            <div id="tab-7Checkbox_2Output" class="checkbox__1" style="display:none; padding: 3px; width: 8rem">
                <button id="tab-7Checkbox_2Output_1" style="border: 0">
                    <label for="tab-7Checkbox_2Output_1"><i class="material-icons">심장박동수 변화</i></label></button>
            </div>
            <div id="tab-7Checkbox_3Output" class="checkbox__1" style="display:none; padding: 3px; width: 8rem">
                <button id="tab-7Checkbox_3Output_1" style="border: 0">
                    <label for="tab-7Checkbox_3Output_1"><i class="material-icons">호흡 문제</i></label></button>
            </div>
            <div id="tab-8Checkbox_1Output" class="checkbox__1" style="display:none; padding: 3px; width: 8rem">
                <button id="tab-8Checkbox_1Output_1" style="border: 0">
                    <label for="tab-8Checkbox_1Output_1"><i class="material-icons">복통 및 속쓰림</i></label></button>
            </div>
            <div id="tab-8Checkbox_2Output" class="checkbox__1" style="display:none; padding: 3px; width: 8rem">
                <button id="tab-8Checkbox_2Output_1" style="border: 0">
                    <label for="tab-8Checkbox_2Output_1"><i class="material-icons">소화 문제</i></label></button>
            </div>
            <div id="tab-8Checkbox_3Output" class="checkbox__1" style="display:none; padding: 3px; width: 8rem">
                <button id="tab-8Checkbox_3Output_1" style="border: 0">
                    <label for="tab-8Checkbox_3Output_1"><i class="material-icons">설사</i></label></button>
            </div>
            <div id="tab-8Checkbox_4Output" class="checkbox__1" style="display:none; padding: 3px; width: 8rem">
                <button id="tab-8Checkbox_4Output_1" style="border: 0">
                    <label for="tab-8Checkbox_4Output_1"><i class="material-icons">배뇨 문제</i></label></button>
            </div>
            <div id="tab-9Checkbox_1Output" class="checkbox__1" style="display:none; padding: 3px; width: 8rem">
                <button id="tab-9Checkbox_1Output_1" style="border: 0">
                    <label for="tab-9Checkbox_1Output_1"><i class="material-icons">체온 조절 문제</i></label></button>
            </div>
            <div id="tab-9Checkbox_2Output" class="checkbox__1" style="display:none; padding: 3px; width: 8rem">
                <button id="tab-9Checkbox_2Output_1" style="border: 0">
                    <label for="tab-9Checkbox_2Output_1"><i class="material-icons">체중 변화</i></label></button>
            </div>
            <div id="tab-9Checkbox_3Output" class="checkbox__1" style="display:none; padding: 3px; width: 8rem">
                <button id="tab-9Checkbox_3Output_1" style="border: 0">
                    <label for="tab-9Checkbox_3Output_1"><i class="material-icons">피로</i></label></button>
            </div>
        </div>
    </div>

</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    var error = [[${error}]];
    if (error != null && error !== '') {
        alert(error);
    }
    /*]]>*/
</script>
<script type="text/javascript" src="/js/outputBox.js"></script>
<script type="text/javascript" src="/js/checkbox.js"></script>
<script type="text/javascript" src="/js/mainScripts.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>