<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>증상 선택</title>
    <link rel="stylesheet" href="/css/styles.css">

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <style>
        .components1 {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 112.5rem;
            height: 60rem;
            border-radius: 3rem;
            box-shadow: 0.8rem 0.8rem 1.4rem var(--greyLight-2), -0.2rem -0.2rem 1.8rem var(--white);
            padding: 4rem;
            position: relative;
        }

        /* form 태그 바로 아래의 체크박스를 가로로 정렬하기 위한 컨테이너 */
        .components1 > form + div {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: 2.5rem; /* 각 요소 사이의 간격 */
        }

        /* 각 체크박스 요소의 스타일 */
        .components1 > form + div > div {
            flex: 1 0 22%; /* 가로로 4개씩 정렬되도록 설정 (100% / 4 - 간격 조정) */
            display: flex;
            justify-content: center;
            align-items: center;
        }

    </style>
</head>
<body>
<div class="container">
    <div class="components1">
        <div class="chip">
            <div class="chip__icon">
                <ion-icon name="fitness-outline"></ion-icon>
            </div>
            <h2 style="text-align: center; color: #6d5dfc; margin-right: 170px" >증상 선택</h2>
        </div>
        <div class="segmented-control">

            <input type="radio" name="radio2" value="head" id="tab-1" checked/>
            <label for="tab-1" class= "segmented-control__1">
                <p>머리</p></label>

            <input type="radio" name="radio2" value="neck" id="tab-2" />
            <label for="tab-2" class= "segmented-control__2">
                <p>목</p></label>

            <input type="radio" name="radio2" value="shoulder" id="tab-3" />
            <label for="tab-3" class= "segmented-control__3">
                <p>어깨</p></label>

            <input type="radio" name="radio2" value="chest" id="tab-4"/>
            <label for="tab-4" class= "segmented-control__4">
                <p>가슴</p></label>

            <input type="radio" name="radio2" value="stomach" id="tab-5" />
            <label for="tab-5" class= "segmented-control__5">
                <p>배</p></label>

            <input type="radio" name="radio2" value="ass" id="tab-6" />
            <label for="tab-6" class= "segmented-control__6">
                <p>엉덩이</p></label>

            <input type="radio" name="radio2" value="waist" id="tab-7"/>
            <label for="tab-7" class= "segmented-control__7">
                <p>허리</p></label>

            <input type="radio" name="radio2" value="arm" id="tab-8" />
            <label for="tab-8" class= "segmented-control__8">
                <p>팔</p></label>

            <input type="radio" name="radio2" value="leg" id="tab-9" />
            <label for="tab-9" class= "segmented-control__9">
                <p>다리</p></label>
            <input type="radio" name="radio2" value="etc" id="tab-10" />
            <label for="tab-10" class= "segmented-control__10">
                <p>기타</p></label>

            <div class="segmented-control__color"></div>
        </div>

        <form action="/diag/askAI" method="POST">
            <div class="checkbox" id="tab-1Checkbox">
                <div class="checkbox__1">
                    <input id="tab-1Checkbox_1" type="checkbox" name="head[]" value="두통">
                    <label for="tab-1Checkbox_1">
                        <i class="material-icons">두통</i></label>
                </div>
                <div class="checkbox__2">
                    <input id="tab-1Checkbox_2" type="checkbox" name="head[]" value="발열">
                    <label for="tab-1Checkbox_2">
                        <i class="material-icons">발열</i></label>
                </div>
                <div class="checkbox__3">
                    <input id="tab-1Checkbox_3" type="checkbox" name="head[]" value="빈혈">
                    <label for="tab-1Checkbox_3">
                        <i class="material-icons">빈혈</i></label>
                </div>
            </div>

            <div class="checkbox" id="tab-2Checkbox">
                <div class="checkbox__1">
                    <input id="tab-2Checkbox_1" type="checkbox" name="neck[]" value="통증">
                    <label for="tab-2Checkbox_1">
                        <i class="material-icons">통증</i></label>
                </div>
                <div class="checkbox__2">
                    <input id="tab-2Checkbox_2" type="checkbox" name="neck[]" value="발열">
                    <label for="tab-2Checkbox_2">
                        <i class="material-icons">발열</i></label>
                </div>
                <div class="checkbox__3">
                    <input id="tab-2Checkbox_3" type="checkbox" name="neck[]" value="붓기">
                    <label for="tab-2Checkbox_3">
                        <i class="material-icons">붓기</i></label>
                </div>
                <div class="checkbox__4">
                    <input id="tab-2Checkbox_4" type="checkbox" name="neck[]" value="멍울">
                    <label for="tab-2Checkbox_4">
                        <i class="material-icons">멍울</i></label>
                </div>
            </div>

            <div class="checkbox" id="tab-3Checkbox">
                <div class="checkbox__1">
                    <input id="tab-3Checkbox_1" type="checkbox" name="shoulder[]" value="통증">
                    <label for="tab-3Checkbox_1">
                        <i class="material-icons">통증</i></label>
                </div>
                <div class="checkbox__1">
                    <input id="tab-3Checkbox_2" type="checkbox" name="shoulder[]" value="발열">
                    <label for="tab-3Checkbox_2">
                        <i class="material-icons">발열</i></label>
                </div>
                <div class="checkbox__1">
                    <input id="tab-3Checkbox_3" type="checkbox" name="shoulder[]" value="가동범위제한">
                    <label for="tab-3Checkbox_3">
                        <i class="material-icons">가동범위제한</i></label>
                </div>
                <div class="checkbox__1">
                    <input id="tab-3Checkbox_4" type="checkbox" name="shoulder[]" value="소리">
                    <label for="tab-3Checkbox_4">
                        <i class="material-icons">소리</i></label>
                </div>
            </div>

            <div class="checkbox" id="tab-4Checkbox">
                <div class="checkbox__1">
                    <input id="tab-4Checkbox_1" type="checkbox" name="chest[]" value="근육통">
                    <label for="tab-4Checkbox_1">
                        <i class="material-icons">근육통</i></label>
                </div>
                <div class="checkbox__1">
                    <input id="tab-4Checkbox_2" type="checkbox" name="chest[]" value="내부통증">
                    <label for="tab-4Checkbox_2">
                        <i class="material-icons">내부통증</i></label>
                </div>
                <div class="checkbox__1">
                    <input id="tab-4Checkbox_3" type="checkbox" name="chest[]" value="숨쉬기 어려움">
                    <label for="tab-4Checkbox_3">
                        <i class="material-icons">숨쉬기 어려움</i></label>
                </div>
                <div class="checkbox__1">
                    <input id="tab-4Checkbox_4" type="checkbox" name="chest[]" value="과한 심박수">
                    <label for="tab-4Checkbox_4">
                        <i class="material-icons">과한 심박수</i></label>
                </div>
            </div>

            <div class="checkbox" id="tab-5Checkbox">
                <div class="checkbox__1">
                    <input id="tab-5Checkbox_1" type="checkbox" name="stomach[]" value="통증">
                    <label for="tab-5Checkbox_1">
                        <i class="material-icons">통증</i></label>
                </div>
                <div class="checkbox__1">
                    <input id="tab-5Checkbox_2" type="checkbox" name="stomach[]" value="설사">
                    <label for="tab-5Checkbox_2">
                        <i class="material-icons">설사</i></label>
                </div>
                <div class="checkbox__1">
                    <input id="tab-5Checkbox_3" type="checkbox" name="stomach[]" value="변비">
                    <label for="tab-5Checkbox_3">
                        <i class="material-icons">변비</i></label>
                </div>
                <div class="checkbox__1">
                    <input id="tab-5Checkbox_4" type="checkbox" name="stomach[]" value="가스">
                    <label for="tab-5Checkbox_4">
                        <i class="material-icons">가스</i></label>
                </div>
                <div class="checkbox__1">
                    <input id="tab-5Checkbox_5" type="checkbox" name="stomach[]" value="팽창">
                    <label for="tab-5Checkbox_5">
                        <i class="material-icons">팽창</i></label>
                </div>
            </div>
            <div class="checkbox" id="tab-6Checkbox">
                <div class="checkbox__1">
                    <input id="tab-6Checkbox_1" type="checkbox" name="ass[]" value="통증">
                    <label for="tab-6Checkbox_1">
                        <i class="material-icons">통증</i></label>
                </div>
                <div class="checkbox__1">
                    <input id="tab-6Checkbox_2" type="checkbox" name="ass[]" value="출혈">
                    <label for="tab-6Checkbox_2">
                        <i class="material-icons">출혈</i></label>
                </div>
                <div class="checkbox__1">
                    <input id="tab-6Checkbox_3" type="checkbox" name="ass[]" value="멍울">
                    <label for="tab-6Checkbox_3">
                        <i class="material-icons">멍울</i></label>
                </div>
            </div>
            <div class="checkbox" id="tab-7Checkbox">
                <div class="checkbox__1">
                    <input id="tab-7Checkbox_1" type="checkbox" name="waist[]" value="통증">
                    <label for="tab-7Checkbox_1">
                        <i class="material-icons">통증</i></label>
                </div>
                <div class="checkbox__1">
                    <input id="tab-7Checkbox_2" type="checkbox" name="waist[]" value="저림">
                    <label for="tab-7Checkbox_2">
                        <i class="material-icons">저림</i></label>
                </div>
                <div class="checkbox__1">
                    <input id="tab-7Checkbox_3" type="checkbox" name="waist[]" value="마비">
                    <label for="tab-7Checkbox_3">
                        <i class="material-icons">마비</i></label>
                </div>
            </div>
            <div class="checkbox" id="tab-8Checkbox">
                <div class="checkbox__1">
                    <input id="tab-8Checkbox_1" type="checkbox" name="arm[]" value="통증">
                    <label for="tab-8Checkbox_1">
                        <i class="material-icons">통증</i></label>
                </div>
                <div class="checkbox__1">
                    <input id="tab-8Checkbox_2" type="checkbox" name="arm[]" value="저림">
                    <label for="tab-8Checkbox_2">
                        <i class="material-icons">저림</i></label>
                </div>
                <div class="checkbox__1">
                    <input id="tab-8Checkbox_3" type="checkbox" name="arm[]" value="마비">
                    <label for="tab-8Checkbox_3">
                        <i class="material-icons">마비</i></label>
                </div>
            </div>
            <div class="checkbox" id="tab-9Checkbox">
                <div class="checkbox__1">
                    <input id="tab-9Checkbox_1" type="checkbox" name="leg[]" value="통증">
                    <label for="tab-9Checkbox_1">
                        <i class="material-icons">통증</i></label>
                </div>
                <div class="checkbox__1">
                    <input id="tab-9Checkbox_2" type="checkbox" name="leg[]" value="저림">
                    <label for="tab-9Checkbox_2">
                        <i class="material-icons">저림</i></label>
                </div>
                <div class="checkbox__1">
                    <input id="tab-9Checkbox_3" type="checkbox" name="leg[]" value="마비">
                    <label for="tab-9Checkbox_3">
                        <i class="material-icons">마비</i></label>
                </div>
            </div>
            <div id="tab-10CheckboxOut">
                <input type="submit" class="btn btn__primary" style="border: 0; margin: 5px" value="확인">
            </div>
            <!--            <input type="reset" class="btn btn__primary" style="border: 0; margin: 5px" value="취소">-->
        </form>
        <div class="checkbox" id="tab-10Checkbox">
            <a href="/diag/askAI"><button class="btn btn__primary" style="border: 0; margin: 5px">직접 입력하기</button></a>
        </div>
        <div style="width: 65rem">
            <div id="tab-1Checkbox_1Output" class="checkbox__1" style="display:none; padding: 3px; width: 8rem">
                <button id="tab-1Checkbox_1Output_1" style="border: 0">
                    <label for="tab-1Checkbox_1Output_1"><i class="material-icons">두통</i></label></button>
            </div>
            <div id="tab-1Checkbox_2Output" class="checkbox__1" style="display:none; padding: 3px; width: 8rem">
                <button id="tab-1Checkbox_2Output_1" style="border: 0">
                    <label for="tab-1Checkbox_2Output_1"><i class="material-icons">발열</i></label></button>
            </div>
            <div id="tab-1Checkbox_3Output" class="checkbox__1" style="display:none; padding: 3px; width: 8rem">
                <button id="tab-1Checkbox_3Output_1" style="border: 0">
                    <label for="tab-1Checkbox_3Output_1"><i class="material-icons">빈혈</i></label></button>
            </div>
            <div id="tab-2Checkbox_1Output" class="checkbox__1" style="display:none; padding: 3px; width: 8rem">
                <button id="tab-2Checkbox_1Output_1" style="border: 0">
                    <label for="tab-2Checkbox_1Output_1"><i class="material-icons">(목)통증</i></label></button>
            </div>
            <div id="tab-2Checkbox_2Output" class="checkbox__1" style="display:none; padding: 3px; width: 8rem">
                <button id="tab-2Checkbox_2Output_1" style="border: 0">
                    <label for="tab-2Checkbox_2Output_1"><i class="material-icons">(목)발열</i></label></button>
            </div>
            <div id="tab-2Checkbox_3Output" class="checkbox__1" style="display:none; padding: 3px; width: 8rem">
                <button id="tab-2Checkbox_3Output_1" style="border: 0">
                    <label for="tab-2Checkbox_3Output_1"><i class="material-icons">(목)붓기</i></label></button>
            </div>
            <div id="tab-2Checkbox_4Output" class="checkbox__1" style="display:none; padding: 3px; width: 8rem">
                <button id="tab-2Checkbox_4Output_1" style="border: 0">
                    <label for="tab-2Checkbox_4Output_1"><i class="material-icons">(목)멍울</i></label></button>
            </div>
            <div id="tab-3Checkbox_1Output" class="checkbox__1" style="display:none; padding: 3px; width: 8rem">
                <button id="tab-3Checkbox_1Output_1" style="border: 0">
                    <label for="tab-3Checkbox_1Output_1"><i class="material-icons">(어깨)통증</i></label></button>
            </div>
            <div id="tab-3Checkbox_2Output" class="checkbox__1" style="display:none; padding: 3px; width: 8rem">
                <button id="tab-3Checkbox_2Output_1" style="border: 0">
                    <label for="tab-3Checkbox_2Output_1"><i class="material-icons">(어깨)발열</i></label></button>
            </div>
            <div id="tab-3Checkbox_3Output" class="checkbox__1" style="display:none; padding: 3px; width: 8rem">
                <button id="tab-3Checkbox_3Output_1" style="border: 0">
                    <label for="tab-3Checkbox_3Output_1"><i class="material-icons">(어깨)가동범위제한</i></label></button>
            </div>
            <div id="tab-3Checkbox_4Output" class="checkbox__1" style="display:none; padding: 3px; width: 8rem">
                <button id="tab-3Checkbox_4Output_1" style="border: 0">
                    <label for="tab-3Checkbox_4Output_1"><i class="material-icons">(어깨)소리</i></label></button>
            </div>
            <div id="tab-4Checkbox_1Output" class="checkbox__1" style="display:none; padding: 3px; width: 8rem">
                <button id="tab-4Checkbox_1Output_1" style="border: 0">
                    <label for="tab-4Checkbox_1Output_1"><i class="material-icons">(가슴)근육통</i></label></button>
            </div>
            <div id="tab-4Checkbox_2Output" class="checkbox__1" style="display:none; padding: 3px; width: 8rem">
                <button id="tab-4Checkbox_2Output_1" style="border: 0">
                    <label for="tab-4Checkbox_2Output_1"><i class="material-icons">(가슴)내부통증</i></label></button>
            </div>
            <div id="tab-4Checkbox_3Output" class="checkbox__1" style="display:none; padding: 3px; width: 8rem">
                <button id="tab-4Checkbox_3Output_1" style="border: 0">
                    <label for="tab-4Checkbox_3Output_1"><i class="material-icons">(가슴)숨쉬기 어려움</i></label></button>
            </div>
            <div id="tab-4Checkbox_4Output" class="checkbox__1" style="display:none; padding: 3px; width: 8rem">
                <button id="tab-4Checkbox_4Output_1" style="border: 0">
                    <label for="tab-4Checkbox_4Output_1"><i class="material-icons">(가슴)과한 심박수</i></label></button>
            </div>
            <div id="tab-5Checkbox_1Output" class="checkbox__1" style="display:none; padding: 3px; width: 8rem">
                <button id="tab-5Checkbox_1Output_1" style="border: 0">
                    <label for="tab-5Checkbox_1Output_1"><i class="material-icons">(배)통증</i></label></button>
            </div>
            <div id="tab-5Checkbox_2Output" class="checkbox__1" style="display:none; padding: 3px; width: 8rem">
                <button id="tab-5Checkbox_2Output_1" style="border: 0">
                    <label for="tab-5Checkbox_2Output_1"><i class="material-icons">(배)설사</i></label></button>
            </div>
            <div id="tab-5Checkbox_3Output" class="checkbox__1" style="display:none; padding: 3px; width: 8rem">
                <button id="tab-5Checkbox_3Output_1" style="border: 0">
                    <label for="tab-5Checkbox_3Output_1"><i class="material-icons">(배)변비</i></label></button>
            </div>
            <div id="tab-5Checkbox_4Output" class="checkbox__1" style="display:none; padding: 3px; width: 8rem">
                <button id="tab-5Checkbox_4Output_1" style="border: 0">
                    <label for="tab-5Checkbox_4Output_1"><i class="material-icons">(배)가스</i></label></button>
            </div>
            <div id="tab-5Checkbox_5Output" class="checkbox__1" style="display:none; padding: 3px; width: 8rem">
                <button id="tab-5Checkbox_5Output_1" style="border: 0">
                    <label for="tab-5Checkbox_5Output_1"><i class="material-icons">(배)팽창</i></label></button>
            </div>
            <div id="tab-6Checkbox_1Output" class="checkbox__1" style="display:none; padding: 3px; width: 8rem">
                <button id="tab-6Checkbox_1Output_1" style="border: 0">
                    <label for="tab-6Checkbox_1Output_1"><i class="material-icons">(엉덩이)통증</i></label></button>
            </div>
            <div id="tab-6Checkbox_2Output" class="checkbox__1" style="display:none; padding: 3px; width: 8rem">
                <button id="tab-6Checkbox_2Output_1" style="border: 0">
                    <label for="tab-6Checkbox_2Output_1"><i class="material-icons">(엉덩이)출혈</i></label></button>
            </div>
            <div id="tab-6Checkbox_3Output" class="checkbox__1" style="display:none; padding: 3px; width: 8rem">
                <button id="tab-6Checkbox_3Output_1" style="border: 0">
                    <label for="tab-6Checkbox_3Output_1"><i class="material-icons">(엉덩이)멍울</i></label></button>
            </div>
            <div id="tab-7Checkbox_1Output" class="checkbox__1" style="display:none; padding: 3px; width: 8rem">
                <button id="tab-7Checkbox_1Output_1" style="border: 0">
                    <label for="tab-7Checkbox_1Output_1"><i class="material-icons">(허리)통증</i></label></button>
            </div>
            <div id="tab-7Checkbox_2Output" class="checkbox__1" style="display:none; padding: 3px; width: 8rem">
                <button id="tab-7Checkbox_2Output_1" style="border: 0">
                    <label for="tab-7Checkbox_2Output_1"><i class="material-icons">(허리)저림</i></label></button>
            </div>
            <div id="tab-7Checkbox_3Output" class="checkbox__1" style="display:none; padding: 3px; width: 8rem">
                <button id="tab-7Checkbox_3Output_1" style="border: 0">
                    <label for="tab-7Checkbox_3Output_1"><i class="material-icons">(허리)마비</i></label></button>
            </div>
            <div id="tab-8Checkbox_1Output" class="checkbox__1" style="display:none; padding: 3px; width: 8rem">
                <button id="tab-8Checkbox_1Output_1" style="border: 0">
                    <label for="tab-8Checkbox_1Output_1"><i class="material-icons">(팔)통증</i></label></button>
            </div>
            <div id="tab-8Checkbox_2Output" class="checkbox__1" style="display:none; padding: 3px; width: 8rem">
                <button id="tab-8Checkbox_2Output_1" style="border: 0">
                    <label for="tab-8Checkbox_2Output_1"><i class="material-icons">(팔)저림</i></label></button>
            </div>
            <div id="tab-8Checkbox_3Output" class="checkbox__1" style="display:none; padding: 3px; width: 8rem">
                <button id="tab-8Checkbox_3Output_1" style="border: 0">
                    <label for="tab-8Checkbox_3Output_1"><i class="material-icons">(팔)마비</i></label></button>
            </div>
            <div id="tab-9Checkbox_1Output" class="checkbox__1" style="display:none; padding: 3px; width: 8rem">
                <button id="tab-9Checkbox_1Output_1" style="border: 0">
                    <label for="tab-9Checkbox_1Output_1"><i class="material-icons">(다리)통증</i></label></button>
            </div>
            <div id="tab-9Checkbox_2Output" class="checkbox__1" style="display:none; padding: 3px; width: 8rem">
                <button id="tab-9Checkbox_2Output_1" style="border: 0">
                    <label for="tab-9Checkbox_2Output_1"><i class="material-icons">(다리)저림</i></label></button>
            </div>
            <div id="tab-9Checkbox_3Output" class="checkbox__1" style="display:none; padding: 3px; width: 8rem">
                <button id="tab-9Checkbox_3Output_1" style="border: 0">
                    <label for="tab-9Checkbox_3Output_1"><i class="material-icons">(다리)마비</i></label></button>
            </div>
        </div>
    </div>

</div>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    var error = [[${error}]];
    if (error != null && error !== '') {
        alert(error);
    }
    /*]]>*/
</script>
<script type="text/javascript" src="/js/outputBox.js"></script>
<script type="text/javascript" src="/js/checkbox.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>