<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>QuickDiag</title>
    <link rel="stylesheet" href="/css/mainStyles.css">
    <link rel="stylesheet" href="/css/navBar.css" />
    <script src="https://kit.fontawesome.com/39996071eb.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
</head>
<body>
<nav th:replace="~{navbar :: navbarFragment}"></nav>
<div class="container">
    <div id="background"></div>
    <div class="components">
        <div class="chip">
            <div class="header" id="typingHeader">Let's meet QD, the AI doctor for you.</div>
        </div>
        <p class="message"></p>
        <div class="buttons">
            <div class="div_if" th:if="${loginUserId == null}">
                <div class="image-container">
                    <a href="/user/login" onclick="alert('로그인이 필요합니다.');">
                        <img src="/images/red.jpg" alt="로그인"  class="img_class"/>
                        <div class="image-text">AI QD.</div>
                        <div class="image-text-2">AI doctor your symptoms and predicts disease.</div>
                    </a>
                </div>
            </div>

            <div class="div_if" th:unless="${loginUserId == null}">
                <div class="image-container">
                    <a href="#" onclick="checkBeforeRedirect(event)">
                        <img src="/images/blue.jpg" alt="리다이렉트"   class="img_class"/>
                        <div class="image-text">AI QD.</div>
                        <div class="image-text-2">AI doctor looks symptoms and predicts disease.</div>
                    </a>
                </div>
            </div>

            <div class="div_if" th:if="${loginUserId != null}">
                <div class="image-container">
                    <a href="/user/userData" style="text-decoration: none;">
                        <img src="/images/bluered.jpg" alt="데이터 입력"   class="img_class"/>
                        <div class="image-text">User Data Input</div>
                        <div class="image-text-2">Input Your Health information</div>
                    </a>
                </div>
            </div>

            <div class="div_if" th:if="${loginUserId == null}">
                <div class="image-container">
                    <a href="/user/login" style="text-decoration: none;">
                        <img src="/images/green.jpg" alt="로그인"   class="img_class"/>
                        <div class="image-text">Sign In</div>
                        <div class="image-text-2">Let's Start</div>
                    </a>
                </div>
            </div>

            <div class="div_if" th:if="${loginUserId == null}">
                <div class="image-container">
                    <a href="/user/register" style="text-decoration: none;">
                        <img src="/images/pinkskyblue.jpg" alt="회원가입"  class="img_class"/>
                        <div class="image-text">Sing UP</div>
                        <div class="image-text-2">Let's Go With QD</div>
                    </a>
                </div>
            </div>

            <div class="div_if" th:if="${loginUserId != null}">
                <div class="image-container">
                    <a href="/user/logout" style="text-decoration: none;">
                        <img src="/images/purple.jpg" alt="로그아웃"   class="img_class"/>
                        <div class="image-text">Log Out</div>
                        <div class="image-text-2">See You Next.</div>
                    </a>
                </div>
            </div>

            <div class="div_if" th:if="${loginUserId != null}">
                <div class="image-container">
                    <a href="/user/mypage" style="text-decoration: none;">
                        <img src="/images/pink.jpg" alt="마이페이지"   class="img_class"/>
                        <div class="image-text">MyPage</div>
                        <div class="image-text-2">Personal Page</div>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>


<script type="text/javascript" src="/js/mainScripts.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
